.card {
  display: flex;
  align-items: center;
  height: 79px;
  width: 100%;
  color: #000;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #f7f6fe;
  box-shadow: 0px 1px 1px 0px #c9cfda;
  transition: all 0.15s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }
}

.employee,
.date,
.name,
.parlor,
.status {
  padding: 14px 12px;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  vertical-align: middle;
}

.status {
  width: 100px;
  padding: 12px 0px;
}

.employee {
  width: 290px;
}

.date {
  width: 150px;
}

.name {
  width: 230px;
}

.parlor {
  width: 130px;
}

.status_open {
  padding: 8px 12px;
  border-radius: 22px;
  color: #1f9254;
  background-color: #c6ffd2;
}
