.card {
  display: flex;
  align-items: center;
  height: 44px;
  width: 100%;
  color: #000;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px #c9cfda;
  transition: all 0.15s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }
}

.employee,
.date,
.name,
.parlor,
.status {
  padding: 14px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  flex: 8.3%;
  min-width: 100px;
  padding: 12px 0px;
}

.employee {
  flex: 30.2%;
  min-width: 290px;
}

.date {
  flex: 12.5%;
  min-width: 150px;
}

.name {
  flex: 38.2%;
  min-width: 230px;
}

.parlor {
  flex: 10.8%;
  min-width: 130px;
}

.status_open,
.status_closed {
  padding: 8px 12px;
  border-radius: 22px;
}

.status_open {
  color: #1f9254;
  background-color: #c6ffd2;
}

.status_closed {
  color: #c54849;
  background-color: #ffb4b5;
}
