.card {
  display: flex;
  height: 48px;
  width: 100%;
  color: #000;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #F7F6FE;
  box-shadow: 0px 1px 1px 0px #c9cfda;
  transition: all 0.15s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-7px);
  }
}

.employee,
.date,
.name,
.parlor,
.status {
  padding: 14px 12px;
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  vertical-align: middle;
}

.status {
  width: 100px;
  padding: 12px 0px;
}

.employee {
  width: 290px;
}

.date {
  width: 150px;
}

.name {
  width: 230px;
}

.parlor {
  width: 130px;
}

.status_open {
  padding: 8px 12px;
  border-radius: 22px;
  color: #1f9254;
  background-color: #c6ffd2;
}
