.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  padding: 0 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  grid-area: header;
  z-index: 99;
  background-image: url(../../../resources/header-texture.png);
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  height: 108px;
}
