.about {
  position: relative;
  padding: 134px 0 60px 0;

  &::after,
  &::before {
    display: block;
    content: "";
    background-position: 50%;
    height: 110px;
    left: 0;
    position: absolute;
    width: 100%;
    // background-image: url(../../../resources/footer-texture.png);
  }

  &::before {
    top: -74px;
  }
  &::after {
    bottom: -74px;
    transform: rotate(180deg);
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 60px auto 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;
}

.title {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgb(245, 202, 35);
  text-shadow: 0 4px 0 rgb(79 66 18);
}

.subtitle {
  font-size: 1.22rem;
  line-height: 1.8;
  text-align: center;
}

.text {
  margin-top: 30px;
  line-height: 1.8;
}
